
.cards-page {
    width: 90vw;
    height: fit-content;
    
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

    gap: 4vh;
}