@use "../../../lib/styles.scss";

$cardHeight: 40vh;
$cardWidth: 27vw;

$cardBgColor: var(--bgColorMediumContrast);
$cardBgHoverColor: var(--bgColorLowContrast);

.card {
    height: $cardHeight;
    width: 85vw;
    min-height: 85vw*0.9;
    min-width: $cardHeight*0.8;
    @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
        height: $cardHeight;
        width: $cardWidth;
        min-height: $cardWidth*0.9;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: none;
    border-radius: 1rem;

    background-color: var(--bgColorMediumContrast);

    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 0.3s ease;
}

.card:hover {
    background-color: var(--bgColorLowContrast);
    transform: translateY(-6px); // animation für karten
    .card-image-container {
        border-color: var(--bgColorLowContrast);
    }
}


.content-container {
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.card-image-container {
    height: 45%;

    border: none;
    border-radius: 1em;
}
.card-image-container img {
    height: 95%;
    width: auto;
    max-width: 100%;

    border-radius: 1em;
}

.card-headline-container {
    height: 12%;

    p {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--fgColorHighContrast);
    }
}

.card-description-container {
    max-height: 40%;

    color: var(--fgColorMediumContrast);

    overflow: scroll;
    text-overflow: clip;
}
.card-description-text {
    font-size: 15px;
}

