
.error-page-wrapper {
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    user-select: none;
}

.error-page-wrapper:hover {
    cursor: pointer;
}