

.info-page {
    width: 90vw;
    height: 50vh;

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-evenly;
}