@use "../../../lib/styles.scss";

.info-page {
    width: 90%;
    height: 60vh;

    margin: auto;
    padding: 4vh 0 4vh 0;

    position: relative;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.info-wrapper {
    width: 90%;
}

//welcome message and logo
.info-header-wrapper {
    height: 60%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
}

.header-content-wrapper {
    height: fit-content;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
}

.header-text-wrapper {
    height: 60%;

    h1 {
        font-size: 5vw ;
    }
}

.header-logo-wrapper {
    height: 40%;

    img {
        max-width: 90%;
        height: auto;
        max-height: 90%;
    }
}

@media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
    .info-header-wrapper {
        flex-direction: row;
    }
    .header-content-wrapper {
        height: 100%;
        width: auto;
    }
    
    .header-text-wrapper {
        height: 100%;
        width: 70%;

        h1 {
            font-size: 2.5vw;
        }
    }
    .header-logo-wrapper {
        height: 100%;
        width: 20%;
    }
}

//introductive message
.info-message-wrapper {
    height: 40%;
}