@use '../../../lib/styles.scss' as styles;


.info-page {
    height: 60vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header-wrapper {
    width: 100%;      
    height: 40vh;   

    padding: 4vh 8vw;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
        flex-direction: row;
    }

    z-index: 0;
    background-color: #7cb48d; 
    body.dark, body.dark-mode, .dark-mode {
        background-color: #346844; 
    }
}

.header-text-wrapper {
    height: 30%;
    width: 100%;
    @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
        height: 100%;
        width: 70%;
    }

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 1.5rem;
        font-weight: 900;     
        color: #ffffff; 
        margin-bottom: 0;
        text-align: left;

        @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
            font-size: 3.5vw;
            margin-bottom: 2rem;
        }
    }

    p {
        font-size: 1rem;
        font-weight: normal;  
        color: #f0f0f0;
        text-align: left;

        @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
            font-size: 1.2vw;
        }
    }
}

// Otter Container & Bild (Sauber zusammengefasst)
.header-image-wrapper {
    height: 70%;
    width: 100%;
    .otter-img {
        height: 90%; 
        width: auto;  
        object-fit: contain;
    }

    @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
        height: 100%;
        width: 30%;
        .otter-img {
            height: auto;
            width: 100%;  
            object-fit: contain;
        }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    .otter-img {
        height: 90%; 
        width: auto;  
        object-fit: contain;
    }
}

// --- DARK MODE ANPASSUNG FÜR DEN HERO-BEREICH ---
body.dark, body.dark-mode, .dark-mode {
    .info-header-wrapper {
        background-color: #346844; 
    }
}

// Introductive message
.info-message-wrapper {
    width: 90%;
    margin-top: 6vh;    
    margin-bottom: 6vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;          
    text-align: center;
}