@use "../../../lib/styles.scss" as styles;


.topic-wrapper {
    height: fit-content;
    width: 90vw;

    margin: 2vh 0 2vh 0;

    background-color: var(--bgColorMediumContrast);
    border: 1px, solid, var(--bgColorMediumContrast);
    border-radius: 1em;
}

.room-topic-wrapper {    
    width: 90vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    
    border: inherit;
    border-radius: inherit;
    
}
.room-topic-wrapper.correct { 
    background-color: var(--colorAnswerCorrect);
}


//-------------------header-area-------------------
.room-topic-header {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    background-color: var(--bgColorLowContrast);
    border: 1px, solid, var(--bgColorLowContrast);
    border-radius: 1em 1em 0 0;
}
.room-topic-header.closed {
    border-radius: 1em;
}
.room-topic-header.correct {
    background-color: styles.$colorAnswerCorrect;
}

.topic-header-element {
    height: 100%;
    width: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    user-select: none;
}
.topic-header-element:nth-child(2) {
    font-size: 1em;
    width: 60%;
}

.topic-header-icon {
    max-height: 80%;
    height: 15px;
    max-width: 80%;
    width: 18px;

    display: block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    background: linear-gradient(to bottom, var(--fgColorHighContrast), var(--fgColorMediumContrast));
    box-shadow: 50px 50px 10px blue;
    
    transition: 100ms ease all;
}
.topic-header-icon.opened {
    transform: rotate(180deg);
}



//-------------------content-area------------------- 
// der teil wo die fragen stattfinden 
.topic-content-wrapper {
    width: 90%;
    max-height: 0;          
    opacity: 0;             
    overflow: hidden;       // Versteckt überstehenden Inhalt
    visibility: hidden;     // Verhindert Klicks im geschlossenen Zustand
    
    margin: 0;              
    
    // animation
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 0.3s ease-in-out, 
                visibility 0.4s ease-in-out,
                margin 0.4s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
}

// Wenn geöffnet:
.topic-content-wrapper.opened {
    max-height: 800px;     // erhöhe diesen Wert, falls aufgaben inhalte sehr lang sind
    opacity: 1;
    visibility: visible;
    margin: 3vh 0 3vh 0;   //bringt abstand zurück 
}


//-------------------submit-area-------------------
.topic-submit-wrapper {
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    height: auto;
    width: 100px;

    margin-top: 4vh;
    padding: 7px;

    border: 0px;
    border-radius: 0.8em;

    background-color: var(--highlightColorHighContrast);
    color: white;
    user-select: none;
}