@use "../../../lib/styles.scss";


.room-topic-wrapper {
    margin: 2vh 0 2vh 0;
    
    width: 90vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--bgColorLowContrast);
    border: 1px, solid, var(--bgColorLowContrast);
    border-radius: 1em;
}

//-------------------header-area-------------------
.room-topic-header {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    background-color: var(--bgColorMediumContrast);
    border: 1px, solid, var(--bgColorMediumContrast);
    border-radius: 1em 1em 0 0;
}
.room-topic-header.closed {
    border-radius: 1em;
}
.room-topic-header.correct {
    background-color: styles.$colorAnswerCorrect;
}

.topic-header-element {
    height: 100%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    user-select: none;
}
.topic-header-element:first-child {
    font-size: 1.2rem;
    width: 10%;
}


//-------------------content-area-------------------
.topic-content-wrapper {
    width: 90%;
    height: min-content;

    margin: 3vh 0 3vh 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.topic-content-wrapper.opened {
    display: block;
}
.topic-content-wrapper.closed {
    display: none;
}

.description-toggle-btn {
    margin: 2vh 0 2vh 0;
    user-select: none;

    p {
        user-select: none;
        color: var(--highlightColorHighContrast);
    }
}


//-------------------submit-area-------------------
.topic-submit-wrapper {
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    height: auto;
    width: 100px;

    margin-top: 4vh;
    padding: 7px;

    border: 0px;
    border-radius: 0.8em;

    background-color: var(--highlightColorHighContrast);
    color: white;
    user-select: none;
}