
.account-control-wrapper {
    height: auto;
    width: 100%;

    margin: 5vh 0 5vh 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.control-elements-wrapper {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


    gap: 1em;
}

.account-control-element {
    height: auto;
    min-width: 10vw;

    padding: 5px 10px;

    border-radius: 1em;
    color: white;
    background-color: var(--highlightColorLowContrast);

    user-select: none;
    cursor: pointer;
}