@use '../../lib/styles.scss' as styles;


.alert-wrapper {
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.4);
}

.alert-box-wrapper {
    height: auto;
    width: 60vw;

    @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
        width: 40vw;
    }

    padding: 1em 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    gap: 2em;

    border-radius: 1.5em;
    background-color: var(--bgColorMediumContrast);
}

.alert-header {
    font-weight: bold;
}

.password-input {
    width: 80%;
}

.options-wrapper {
    height: auto;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.options-button {
    padding: 3px 10px;
    
    cursor: pointer;

    border-radius: 1em;
    background-color: var(--highlightColorMediumContrast);
    color: white;

    user-select: none;
}