@use "../../lib/styles.scss";


.header {
    height: styles.$HEADER_HEIGHT;
    width: 100vw;

    position: sticky;
    top: 0;
    z-index: 20;

    background-color: var(--bgColorMediumContrast);
    color: var(--fgColorMediumContrast);
}


//################################################
//---------------------Header---------------------
//################################################

.header-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.header-button {
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    user-select: none;
}

//-----navigation-button-----
.header-menubtn-container {
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-menubtn-line {
    height: 3px;
    width: 80%;
    max-width: 40px;

    border-radius: 3px;

    background-color: var(--fgColorMediumContrast);
    transition: all ease 0.2s;
}

//---open/close-Navigation-Handler---
.header-menubtn-container.navOpened {
    .header-menubtn-line:nth-child(1) {
        transform: rotate(45deg) translate(7px, 8px);
    }

    .header-menubtn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .header-menubtn-line:nth-child(2) {
        width: 0;
    }
}

//-----logo-button-----
.header-homebtn-container {
    width: 40%;
}

.header-logo {
    position: relative;

    max-height: 90%;
    width: auto;

    padding-right: 2px;
    user-select: none;
}

//.header-homebtn-label {
//
//}

//-----login-button-----
.header-loginbtn-container {
    width: 20%;
}

//.header-loginbtn-label {
//
//}


//################################################
//-------------------Navigation-------------------
//################################################
.navigation {
    height: calc(100vh - #{styles.$HEADER_HEIGHT});
    width: 100vw;

    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    overflow: auto;
}

.navigation-container {
    height: 100%;
    width: 60%;
    min-width: 150px;
    @media (min-width: styles.$MIN_SIZE_HORIZONTAL_MODE) {
        width: 40%;
    }

    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;

    z-index: 80;
    overflow: auto;

    background-color: var(--bgColorLowContrast);
}

// transparent background -> closing navigation
.navigation-side-container {
    height: 100%;
    width: 100%;

    z-index: 40;

    background-color: rgba($color: #000000, $alpha: 0.6);
}

//-----navigation-content-----
.nav-content-container {
    width: 90%;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    user-select: none;
}

.nav-content-container:first-of-type {
    padding-top: 10%;
}

//=========quickactions=========
.navigation-quickactions-container {
    height: max-content;

    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vh;
}
// switch für light dark mode
.theme.switch {
    width: 52px;
    height: 28px;
    border-radius: 99px;

    background: var(--bgColorMediumContrast);

    display: flex;
    align-items: center;
    padding: 3px;

    cursor: pointer;
}

.theme-switch .thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;

    background: var(--fgColorHighContrast);
    transition: transform 0.25s ease;
}

.theme-switch .thumb.light {
    transform: translateX(0);
}

.theme-switch .thumb.dark {
    transform: translateX(24px);
}

// switch
.theme-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch {
    width: 50px;
    height: 26px;

    border-radius: 2em;
    position: relative;
    transition: background 0.3s ease;

    display: flex;
    align-items: center;
}

// light mode
.switch.light {
    background: #e5e7eb
}

// darkmode
.switch.dark {
    background: var(--highlightColorHighContrast);
}

// thumb
.thumb {
    width: 20px;
    height: 20px; 

    position: absolute; 
    left: 3px;

    border-radius: 50%;
    transition: all 0.3s ease;

    background: white;
}

// move thumb when dark
.switch.dark .thumb {
    left: 27px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
}

/* sun LEFT SIDE */
.icon.left {
  left: 6px;
}

/* moon RIGHT SIDE */
.icon.right {
  right: 6px;
}

//==========page-links==========
.navigation-links-container {
    min-height: 10;
    height: min-content;

    display: flex;

    flex-direction: column;
    justify-content: space-around;

    gap: 2vh;
}

//==========room-links==========
.navigation-pagelinks-container {
    height: fit-content;

    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;

    color: var(--fgColorHighContrast);
}

.theme-switch {
    cursor: pointer;
}

.switch {
    position: relative;

    width: 64px;
    height: 32px;

    border-radius: 999px;

    background-color: var(--bgColorLowContrast);

    display: flex; 
    align-items: center;

    padding: 4px;

    transition: background-color 0.3s ease;
}


// switch animation
.thumb { 
    position: absolute;

    width: 24px;
    height: 24px;

    border-radius: 50%;

    background-color: white;

    transition: transform 0.3s ease;
}

.switch.light .thumb {
    left: 4px;
}

.switch.dark .thumb {
    left: 45px;
}

.icon {
    position: absolute;
    font-size: 14px;
    user-select: none;
}

.icon.left {
    left: 8px;
}

.icon.right {
    right: 8px;
}