@use "../../lib/styles.scss";

.footer {
    height: 10vh;
    width: 100%;
    min-height: 40px;

    position: relative;
    bottom: 0;
    margin-top: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--bgColorLowContrast);
}

.footer-wrapper{
    width: 40%;
    height: 90%;

    background-color: aquamarine;
}