@use "../../lib/styles.scss";

.footer {
    min-height: styles.$FOOTER_HEIGHT;
    height: fit-content;
    width: 100%;

    position: relative;
    bottom: 0;
    
    margin-top: 10vh;
    padding: 5px 0px 10px 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
    :first-child {
        justify-content: flex-start;
    }

    background-color: var(--bgColorLowContrast);
}

.footer-wrapper {
    height: 40%;
    width: 90%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.footer-info p {
    font-size: 1em;

    color: var(--fgColorLowContrast);
}

.footer-links {
    padding-top: 2vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vw;
    
    color: var(--fgColorMediumContrast);
    
    user-select: none;
}