
.info-wrapper {
    height: auto;
    width: 100vw;

    margin: 4vh 0 4vh 0;

    background-color: var(--bgColorHighContrast);

    display: flex; 
    justify-content: center; 
    align-items: flex-start;

    padding-top: 48px; 
}