@use '../../lib/styles.scss';

.login-page-wrapper {
    min-height: calc(100vh - #{styles.$HEADER_HEIGHT});
    height: min-content;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    gap: 5vh;
}

.login-change-method-wrapper {
    height: min-content;
    width: auto;

    user-select: none;
}
