@use "./lib/styles.scss";



* {
  margin: 0; 
  padding: 0;

  font-family: styles.$fontFamilySans; 
  font-size: 16px;
  
  text-decoration: none;
}

@media screen and (max-height: 340px) {
  * {
      display: none;
    }
}
@media only screen and (max-width: 230px) {
    * {
      display: none;
    }
}


// light mode
body {
  --bgColorHighContrast: #{styles.$lightTheme_bgColorHighContrast};
  --bgColorMediumContrast: #{styles.$lightTheme_bgColorMediumContrast};
  --bgColorLowContrast: #{styles.$lightTheme_bgColorLowContrast};

  --fgColorHighContrast: #{styles.$lightTheme_fgColorHighContrast};
  --fgColorMediumContrast: #{styles.$lightTheme_fgColorMediumContrast};
  --fgColorLowContrast: #{styles.$lightTheme_fgColorLowContrast};

  --highlightColorHighContrast: #{styles.$lightTheme_highlightColorHighContrast};
  --highlightColorMediumContrast: #{styles.$lightTheme_highlightColorMediumContrast};
  --highlightColorLowContrast: #{styles.$lightTheme_highlightColorLowContrast};

  color-scheme: light dark;

  margin: 0;
  padding: 0;

  text-align: center;
  font: 18px/145% #{styles.$fontFamilySans};
  letter-spacing: 0.18px;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

// dark mode 
body.dark {
  --bgColorHighContrast: #{styles.$darkTheme_bgColorHighContrast};
  --bgColorMediumContrast: #{styles.$darkTheme_bgColorMediumContrast};
  --bgColorLowContrast: #{styles.$darkTheme_bgColorLowContrast};

  --fgColorHighContrast: #{styles.$darkTheme_fgColorHighContrast};
  --fgColorMediumContrast: #{styles.$darkTheme_fgColorMediumContrast};
  --fgColorLowContrast: #{styles.$darkTheme_fgColorLowContrast};

  --highlightColorHighContrast: #{styles.$darkTheme_highlightColorHighContrast};
  --highlightColorMediumContrast: #{styles.$darkTheme_highlightColorMediumContrast};
  --highlightColorLowContrast: #{styles.$darkTheme_highlightColorLowContrast};
}

body {
  color: var(--fgColorHighContrast);
  background: var(--bgColorHighContrast);

  transition: 
    background-color 0.35s ease,
    color 0.35s ease;
}
