
.choice-wrapper {
    height: 40px;
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.choice-wrapper.correct {
    background-color: greenyellow;
}
.choice-wrapper.wrong {
    background-color: red;
}

.choice-checkbox {
    height: 23px;
    width: 23px;

    margin: 0 1vw 0 1vw;
}

.choice-text {
    color: var(--fgColorHighContrast);
}